<h3 class="mb-5">Change Password</h3>
<form action="/update-password" method="post">
    <div class="form-outline mb-4">
        <input type="password" name="current_password" id="current_password" required placeholder="Current password" />
    </div>
    <div class="form-outline mb-4">
        <input type="password" name="new_password" id="new_password" required placeholder="New password" />
    </div>
    <div class="form-outline mb-4">
        <input type="password" name="confirm_new_password" id="confirm_new_password" required placeholder="Confirm new password" />
    </div>

    <div class="form-outline mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit" value="Update password"> Update password </button>
    </div>
    <div class="form-outline mb-4">
        <a href="/" class="btn btn-lg btn-block btn-secondary"> Back </a>
    </div>
</form>