<h3 class="mb-5">Forgot password</h3>
<form action="/send-reset-link" method="post">
    <div class="form-outline mb-4">
        <% if (locals.flash.error && locals.flash.error.length > 0) { %>
        <div class="mb-5" style="color:#EF476F">
            <h6><%=locals.flash.error%></h6>
        </div>
        <div class="divider d-flex align-items-center my-4"></div>
        <a href="/forgot-password" class="btn btn-primary btn-lg btn-block">Retry</a>
        <% } else if (locals.flash.success && locals.flash.success.length > 0) { %>
        <div class="mb-5" style="color:#06D6A0">
            <h6><%=locals.flash.success%></h6>
        </div>
        <div class="divider d-flex align-items-center my-4"></div>
        <a href="/sign-in" class="btn btn-lg btn-block btn-secondary"> Back </a> <br>
        <% } else {%>

        <input type="email" name="email" id="email" required placeholder="Email" />
    </div>
    <button class="btn btn-primary btn-lg btn-block" type="submit" value="Forgot password">Forgot password</button>
    <div class="divider d-flex align-items-center my-4">
    </div>
    <a href="/sign-in" class="btn btn-lg btn-block btn-secondary"> Cancel </a> <br>
    <% } %>
</form>