<h3 class="mb-5">Forgot password</h3>
<form id="reset-password-form" action="/send-reset-link" method="post">
    <div class="form-outline mb-4">
        <% if (locals.flash.error && locals.flash.error.length > 0) { %>
        <div class="mb-5" style="color:#EF476F">
            <h6><%=locals.flash.error%></h6>
        </div>
        <div class="divider d-flex align-items-center my-4"></div>
        <a href="/forgot-password" class="btn btn-primary btn-lg btn-block">Retry</a>
        <% } else if (locals.flash.success && locals.flash.success.length > 0) { %>
        <div class="mb-5" style="color:#06D6A0">
            <h6><%=locals.flash.success%></h6>
        </div>
        <div class="divider d-flex align-items-center my-4"></div>
        <a href="/sign-in" class="btn btn-lg btn-block btn-secondary"> Back </a> <br>
        <% } else {%>

        <input type="email" name="email" id="email" required placeholder="Email" />
    </div>
    <button class="g-recaptcha btn btn-primary btn-lg btn-block" value="Forgot password" data-sitekey="6Ldg-ColAAAAAPep4AL0bAy5cF0FAhJ8rEtXjUVx" data-callback='onSubmit' data-action='submit'>Forgot password</button>

    <div class="divider d-flex align-items-center my-4">
    </div>
    <a href="/sign-in" class="btn btn-lg btn-block btn-secondary"> Cancel </a> <br>
    <% } %>
</form>

<script src="https://www.google.com/recaptcha/api.js"></script>
<script>
    function onSubmit(token) {
        document.getElementById("reset-password-form").submit();
    }
</script>