<div>
    <% if(locals.user){ %>
    <a href="/sign-out">Sign out</a>
    <% } else {%>
    <a href="/sign-in">Sign in</a>
    <% } %>
    <a href="/reset-password">Reset password</a>



    <h3>Home</h3>
    <p>Name : <%= locals.user.name %></p>
    <p>Email : <%= locals.user.email %></p>
</div>