<div>
    <h3 class="mb-5 mt-3">Home Page</h3>
    <h5> <b>Name</b> : <%= locals.user.name %></h5>
    <h5> <b>Email</b> : <%= locals.user.email %></h5>
    <br>
    <ul class="nav nav-pills nav-justified mt-5 mb-2">
        <li class="nav-item">
            <a style="font-size: 14px;" class="nav-link active" href="/change-password">Change Password</a>
        </li>
        <li class="nav-item">
            <a style="font-size: 14px;" class="nav-link active" href="/sign-out">Sign Out</a>
        </li>
    </ul>
</div>