<div>
    <h3>Reset password</h3>
    <form action="/update-password" method="post">
        <input type="password" name="current_password" id="current_password" required placeholder="Current password">
        <input type="password" name="new_password" id="new_password" required placeholder="New password">
        <input type="password" name="confirm_new_password" id="confirm_new_password" required placeholder="Confirm new password">
        <input type="submit" value="Update password">
        <input type="reset" value="Reset">
    </form>
</div>