<h3 class="mb-5">Reset password</h3>
<form action="/set-new-password" method="post">

    <% if (!isTokenValid) { %>
    <div class="mb-5" style="color:#EF476F">
        <h6>Password reset link expired or invalid, please generete new link to reset you password.</h6>
    </div>
    <div class="form-outline mb-4">
        <a href="/forgot-password" class="btn btn-primary btn-lg btn-block"> Get new link </a>
    </div>
    <% } else { %>
    <div class="form-outline mb-4">
        <input type="password" name="new_password" id="new_password" required placeholder="New password" />
    </div>
    <div class="form-outline mb-4">
        <input type="password" name="confirm_new_password" id="confirm_new_password" required placeholder="Confirm new password" />
    </div>
    <div class="form-outline mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit" value="Update password"> Reset password </button>
    </div>
    <input type="hidden" name="id" id="id" value="<%=locals.id%>">
    <input type="hidden" name="key" id="key" value="<%=locals.key%>">
    <% } %>
    <div class="form-outline mb-4">
        <a href="/" class="btn btn-lg btn-block btn-secondary"> Cancel </a>
    </div>
</form>