<html>

<head>

</head>

<body>
    <h3>Sign up</h3>
    <form action="/create-user" method="post">
        <input type="text" name="name" id="name" placeholder="Name">
        <input type="email" name="email" id="email" placeholder="Email">
        <input type="password" name="password" id="password" placeholder="Password">
        <input type="submit" value="Sign up">
    </form>
    <a href="/sign-in">Sign in</a>
</body>

</html>