<html>

<head>

</head>

<body>
    <h3>Sign in</h3>
    <form action="/create-session" method="post">
        <input type="email" name="email" id="email" placeholder="Email">
        <input type="password" name="password" id="password" placeholder="Password">
        <input type="submit" value="Sign in">
    </form>
    <a href="/sign-up">Sign up</a>
</body>

</html>