<h3 class="mb-5">Sign up</h3>
<form action="/create-user" id="create-user-form" method="post">
    <div class="form-outline mb-4">
        <input type="text" name="name" id="name" required placeholder="Name" />
    </div>
    <div class="form-outline mb-4">
        <input type="email" name="email" id="email" required placeholder="Email" />
    </div>
    <div class="form-outline mb-4">
        <input type="password" name="password" id="password" required placeholder="Password" />
    </div>
    <div class="form-outline mb-4">
        <input type="password" name="confirm_password" id="confirm_password" required placeholder="Confirm password" />
    </div>
    <button class="g-recaptcha btn btn-primary btn-lg btn-block" value="Sign up" data-sitekey="6Ldg-ColAAAAAPep4AL0bAy5cF0FAhJ8rEtXjUVx" data-callback='onSubmit' data-action='submit'>Sign up</button>
    <div class="divider d-flex align-items-center my-4">
        <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
    </div>
    <a href="/auth/google" class="btn btn-lg btn-block btn-primary" style="background-color: #dd4b39;">
        <i class="fab fa-google me-2"></i> Sign up with google</a>
    <br>
    <div class="d-flex align-items-center justify-content-center mt-4">
        <p class="mb-0 me-2">Already have an account?</p>
        <a href="/sign-in" class="btn btn-outline-primary">Sign in</a>
    </div>
</form>



<script src="https://www.google.com/recaptcha/api.js"></script>
<script>
    function onSubmit(token) {
        document.getElementById("create-user-form").submit();
    }
</script>