<div>
    <h3>Sign up</h3>
    <form action="/create-user" method="post">
        <input type="text" name="name" id="name" required placeholder="Name">
        <input type="email" name="email" id="email" required placeholder="Email">
        <input type="password" name="password" id="password" required placeholder="Password">
        <input type="password" name="confirm_password" id="confirm_password" required placeholder="Confirm Password">
        <input type="submit" value="Sign up">
    </form>
    <a href="/sign-in">Sign in</a>
</div>